<div class="h-full relative">
    <div class="bg-white w-full h-full rounded-xl"></div>
    <div class="absolute top-4 left-4 text-neutral-950">
        <h1>La Paz <span class="text-neutral-500">- BO</span></h1>
        <h2 class="text-5xl">
            19º
        </h2>
    </div>
    <div class="absolute bottom-5 inset-x-4 gird grid grid-cols-3 place-items-center border border-neutral-500 rounded-xl text-neutral-500 py-2 text-center">
        <div>
            <h2 a>
                <p>50%</p>
                <h3>Humedad</h3>
            </h2>
        </div>
        <div>
            <h2>
                <p>20 Km/h</p>
                <h3>Viento</h3>
            </h2>
        </div>
        <div>
            <h2>
                <p>1/11</p>
                <h3>UV</h3>
            </h2>
        </div>
    </div>
</div>