<div class="h-full relative">
    <div class="bg-white w-full h-full rounded-xl"></div>
    <div class="absolute top-4 left-4 text-neutral-950">
        <h1>{{ data.location?.name }} <span class="text-neutral-500">- {{ data.location?.country }}</span></h1>
        <h2 class="text-5xl">
            {{ data.current?.temp_c }}º
        </h2>
    </div>
    <div class="absolute bottom-5 inset-x-4 gird grid grid-cols-3 place-items-center border border-neutral-500 rounded-xl text-neutral-500 py-2 text-center">
        <div>
            <h2 a>
                <p>{{ data.current?.humidity}}%</p>
                <p>Humedad</p>
            </h2>
        </div>
        <div>
            <h2>
                <p>{{ data.current?.wind_kph}} Km/h</p>
                <p>Viento</p>
            </h2>
        </div>
        <div>
            <h2>
                <p>{{ data.current?.uv}}</p>
                <p>UV</p>
            </h2>
        </div>
    </div>
</div>